<h1>New Track</h1>

<%= form_with model: @track, local: true, html: { enctype: "multipart/form-data" } do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>
 <p> </p>
  <div class="actions">
    <%= form.submit %>
  </div>

  <%= link_to 'Back', tracks_path %>

<% end %>
